
:root {
  --primary-main-color: rgb(0, 0, 25);
  --secondary-main-color: rgb(120, 15, 180);

}

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

}

body {
  background-color: var(--primary-main-color);

  width: 100%;
  min-height: 75vh;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 5%;

}

#container {
  width: 95%;

  max-width: 600px;
  height: 75vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

}

.image-container {
  width: 100%;

  max-height: 800px;
  height: auto;

  border: 2px solid var(--secondary-main-color);
  border-radius: 8px;

  box-shadow: 0 0 15px var(--secondary-main-color);

  transition: all 0.4s;

}

.image-container:hover {
  transform: scale(1.1);

  box-shadow: 0 0 30px var(--secondary-main-color);

}

input {
  width: 90%;
  height: 50px;

  color: var(--secondary-main-color);
  font-size: 1.1em;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 4px;

  outline: none;

}

input::-webkit-file-upload-button {
  background: transparent;

  width: 40%;
  height: 40px;

  color: green;
  font-size: 3.4vmin;

  margin-right: 30px;

  border: 1px solid green;
  border-radius: 8px;

  transition: color 0.4s, background 0.4s;

}

input::-webkit-file-upload-button:hover {
  background-color: green;

  color: #EEEEEE;

  outline: none;

}

button {
  background: transparent;

  width: 90%;
  height: 45px;

  border: 1px solid #EEE;
  border-radius: 8px;
  outline: none;

  transition: background 0.4s, box-shadow 0.3s;

}

button img {
  width: 40px;
  height: 30px;

}

button:hover {
  background-color: #EEEEEE;

  box-shadow: 0 0 5px #EEE;

}